@import url('https://fonts.googleapis.com/css2?family=Ubuntu&display=swap');

body {
    background-color: #00001d;
    font-family: 'Ubuntu', sans-serif;
    top: 1vh;
    left: 1vh;
}
h1 {
    color: lime;
    font-weight: bold;
}
p {
    color: #ffffff;
    font-size: 14px;
}
a {text-decoration: none;}
a:hover {
    cursor: pointer;
    text-decoration: underline;
}
button {
    color: #000043;
    border-radius: 20px;
    padding: 20px;
}
button {
    color: #000053;
    cursor: pointer;
}
